body{
    background-color:lightsteelblue !important;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    padding: 10px 0;
}

h1{
    background-color:rgb(11, 31, 31);
    color: #f7f2f2de;
    text-align: center;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    font-size: 18px;
    padding: 1.5px;
    text-align: center;
    width: 100%;
}

thead {
    background-color: #f1f1f1;
    font-weight: 600;
}

table th, table td {
    padding: 10px 20px;
}

tbody tr {
    border-bottom: .5px solid #aaaaaa;
    background-color: #f7f2f2de;
}

tbody tr:nth-of-type(even){
    background-color: #eff3f4b6;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #f1f1f1;
}

#inputDiv{
    padding-top: 2em;
}
#createIn{
    padding-left: 2em;
}

#createTask{
    padding-left: 2em;
    margin-left: 5%;
    margin-right: 1em;
}

#tasksHeader{
    padding-left: 3em;
}

#outputDiv{
    padding-top: 5em;
}

.completedTaskButton[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: gray;
    width: 40px;
    height: 40px;
    border: none;
    background: gray;
    position: relative;
}
#submitButton{
    margin-right: 50%;
}
